
//Colours are taked from here: https://projects.invisionapp.com/d/main#/console/13961028/326021919/preview

// barely visible blue
$very_light-color: #E2F1FA;

// light blue
$light-color: #83C1E9;

// primary gradient blue
$gradient-color: linear-gradient(225deg, #1080D4 0%, #17B7F3 100%);

// primary blue
$normal-color: #187DC1;

// red
$cta-color: #F2624C;

// dark grey
$asside-color: #4A4B4B;

// dark blue
$solid-color: #012943;

// special form fields #C8E1F0 + opacity
$special-border-color: rgba(200,225,240, 0.5);