.footer {
	background-color: $normal-color;
}
.footer .logo {
	margin-top: 30px;
	margin-bottom: 50px;
}
.footer .social {
	padding-top: 34px;
}
.footer .social .links {
	list-style: none;
	padding: 0;
	margin: 20px 0 0 0;
}
@media (max-width: 768px) {
	.footer .social {
		padding-top: 0;
	}
	.footer .social .links {
		margin: 0 0 80px 0;
	}
}