/*
	// Small devices (landscape phones, 576px and up)
	@media (min-width: 576px) { ... }

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) { ... }

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) { ... }

	// Extra large devices (large desktops, 1120px and up)
	@media (min-width: 1120px) { ... }


    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 70px;
	font-weight: 300;
	line-height: 82px;
	color: #023E66;
}
h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 35px;
	color: #023E66;
}
h3 {
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	color: $normal-color;
}
h3.c2 { color: #023E66; }
h4 {
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;
	color: $normal-color;
}
h4.c2 { color: #023E66; }


input.special {
	background-color: #ffffff;
	background-clip: padding-box;
	border: 10px solid $special-border-color;
	border-radius: 15px;
	padding: 0 15px;
	height: 63px;
	font-size: 17px;
	line-height: 17px;
	color: $normal-color;
	font-weight: normal;
	display: block;
	margin: 0 0 20px 0;
	width: 100%;
}
input.special.keyword {
	background-image: url('../assets/icons/search-lightBlue.svg');
	background-repeat: no-repeat;
	background-position: 19px 12px;
	padding-left: 50px;
}
input.special.location {
	background-image: url('../assets/icons/location-lightBlue.svg');
	background-repeat: no-repeat;
	background-position: 19px 12px;
	padding-left: 50px;
}
a.btn.special {
	display: block;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	padding: 9px 15px 0;
	height: 63px;
	background-color: $cta-color;
	background-clip: padding-box;
	border: 10px solid $special-border-color;
	border-radius: 15px;
}


