
.header {
	background: $gradient-color;
}
.header .toprow .logo {
	margin-top: 10px;
}
.header .toprow .post_course {
	margin-top: 30px;
}
.header .toprow .navbar { padding: 0; }
.header .toprow .navbar .navbar-toggler {
	padding: 20px 0 0 0;
}
.header .toprow .navbar .navbar-toggler-icon {
  background-image: url('../assets/icons/mobile-menu-white.svg');
}
.header .toprow .navigation {
	margin: 38px 0 0 0;
	padding: 0;
	list-style: none;
}
.header .toprow .navigation > li {
	margin-right: 20px;
}
.header .toprow .navigation > li:last-child {
	margin-right: 0;
}

.header .hero {
	margin-top: 74px;
}
.header .hero h1 {
	margin-top: 13px;
	max-width: 485px;
}
.header .hero .search {
	padding-bottom: 61px;
}

/*Extra large devices (large desktops, 1120px and up)*/
@media (min-width: 1120px) {}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
	.header .toprow .logo { width: 280px; }
	.header .hero h1 { font-size: 50px; }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	.header .toprow .logo { width: 125px; }
	.header .hero h1 {
		max-width: 335px;
		margin-left: auto;
		margin-right: auto;
		font-size: 40px;
		line-height: 47px;
		margin-bottom: 40px;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {}



/* Main menu for mobile is in a customized modal */
.main_nav_modal .modal-dialog {
	height: 100%;
	margin: 0;
	background: $gradient-color;
}
.main_nav_modal .modal-header {
	padding: 10px;
	border: none;
}
.main_nav_modal .modal-content {
	background-color: transparent;
	border: none;
}
.main_nav_modal .logo { width: 125px; }
.main_nav_modal .close {
	opacity: 1;
	margin: 10px 0 0 0;
	padding: 0;
}
.main_nav_modal .modal-body { padding: 0; }
.main_nav_modal .mob_nav {
	list-style: none;
	margin: 40px 0 0 0;
	padding: 0;
}
.main_nav_modal .mob_nav li {
	display: block;
	border-bottom: 1px solid #FFFFFF;
}
.main_nav_modal .mob_nav li:first-child { border-top: 1px solid #FFFFFF; }
.main_nav_modal .mob_nav li a {
	display: block;
	min-height: 69px;
	padding: 22px 0 0 15px;
	color: #FFFFFF;
}

