
.sponsored {
	background-color: $very_light-color;
	padding-top: 40px;
}
.sponsored a.item {
	display: block;
	height: 308px;
	border: 1px solid #E3E3E3;
	border-radius: 5px;
	background-color: #FFFFFF;
	position: relative;
}
.sponsored a.item:hover {
	text-decoration: none;
	/*box-shadow: -4px -4px 10px 0 rgba(0,0,0,0.2), 4px 4px 10px 0 rgba(0,0,0,0.2);*/
}
.sponsored a.item:hover .title {
	color: $cta-color;
}
.sponsored a.item .star {
	position: absolute;
	top: 12px;
	right: 12px;
}
.sponsored a.item .title {
	color: #023E66;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	padding: 15px 15px 0 15px;
}
.sponsored a.item .location {
	color: rgba(0,0,0,0.8);
	font-size: 14px;
	line-height: 20px;
	background: transparent url('../assets/icons/location-CT1.svg') 15px 12px no-repeat;
	background-size: 15px 15px;
	padding: 10px 15px 0px 35px;
}
.sponsored a.item .type {
	color: rgba(0,0,0,0.8);
	font-size: 14px;
	line-height: 24px;
	padding: 0px 15px 0 15px;
}
.sponsored a.item .price {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: $normal-color;
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;
}
.sponsored .carousel-control-prev, .sponsored .carousel-control-next {
	width: 40px;
	height: 40px;
	top: calc(50% - 20px);
	opacity: 1;
}
.sponsored .carousel-control-prev-icon, .sponsored .carousel-control-next-icon {
	width: 40px;
	height: 40px;
}
.sponsored .carousel-control-next-icon {
	background-image: url('../assets/icons/carousell-arrow.svg');
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.sponsored .carousel-control-prev-icon {
	background-image: url('../assets/icons/carousell-arrow.svg');
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.sponsored .footnote {
	color: $asside-color;
	font-size: 14px;
	line-height: 24px;
	padding-top: 6px;
	padding-bottom: 30px;
}
.sponsored.mobile .carousel {
	max-width: 255px;
	margin-right: auto;
	margin-left: auto;
}
/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	.sponsored .footnote {
		max-width: 273px;
		margin-right: auto;
		margin-left: auto;
	}
}




.browse_catalog h2 {
	margin-top: 70px;
}
.browse_catalog .catalog_switch {
	padding-top: 20px;
}
.browse_catalog .catalog_switch .btn {
	color: $normal-color;
	border-color: $normal-color;
	background-color: #FFFFFF;
	padding: 7px 18px;
}
.browse_catalog .catalog_switch .btn.active {
	background-color: $normal-color;
	color: #FFFFFF;
}
.browse_catalog .list_by_category, .browse_catalog .list_by_company {
	margin-top: 40px;
	margin-bottom: 60px;
}
.browse_catalog .list_by_category a.item, .browse_catalog .list_by_company a.item {
	position: relative;
	display: block;
	margin: 10px 0;
}
.browse_catalog .list_by_company a.item {
	border: 1px solid #E3E3E3;
	border-radius: 4px;
}
.browse_catalog .list_by_category a.item:hover, .browse_catalog .list_by_company a.item:hover {
	text-decoration: none;
	box-shadow: -4px -4px 10px 0 rgba(0,0,0,0.2), 4px 4px 10px 0 rgba(0,0,0,0.2);
	border-radius: 4px;
}
.browse_catalog .list_by_category .item img.cover, .browse_catalog .list_by_company .item img {
	border-radius: 4px;
}
.browse_catalog .list_by_category .item .name {
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
}
/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	.browse_catalog .list_by_category .item .name {
		font-size: 16px;
		line-height: 19px;
	}
}