


/* LOGIN */
.main_login_modal .modal-content {
	border-radius: 8px;
}
.main_login_modal .modal-header {
	border-bottom: none;
	padding: 30px 20px 30px 45px;
}
.main_login_modal .modal-title {
	color: $solid-color;
	font-size: 24px;
	font-weight: bold;
}
.main_login_modal .close { opacity: 1; }
.main_login_modal .modal-body {
	padding: 0px 45px 40px 45px;
}
.main_login_modal .use_ajs {
	background-color: $normal-color;
	margin-bottom: 20px;
	font-weight: bold;
}
.main_login_modal .use_ajs .short { display: none; }
.main_login_modal .fakeinput_password { position: relative; }
.main_login_modal .fakeinput_password .show {
	display: block;
	position: absolute;
	top: 7px;
	right: 10px;
}
.main_login_modal .fakeinput_password .show .vizon { display: none; }
.main_login_modal .login_email {
	margin-bottom: 20px;
	background: $very_light-color url('../assets/icons/user-CT1.svg') no-repeat 10px 10px;
	border: 1px solid $very_light-color;
	padding-left: 40px;
}
.main_login_modal .login_pswd {
	margin-bottom: 12px;
	background: $very_light-color url('../assets/icons/llock-CT1.svg') no-repeat 10px 10px;
	border: 1px solid $very_light-color;
	padding-left: 40px;
}
.main_login_modal .login_email:focus, .main_login_modal .login_pswd:focus {
	border: 1px solid $normal-color;
	box-shadow: none;
}
.main_login_modal .login {
	background-color: $cta-color;
	margin-bottom: 20px;
	font-weight: bold;
}
.main_login_modal .register {
	border: 1px solid $normal-color;
	color: $normal-color;
}
.main_login_modal .forgot {
	color: $normal-color;
	font-size: 14px;
	margin-bottom: 12px;
	display: inline-block;
}
.main_login_modal .notmember {
	color: $normal-color;
	font-weight: bold;
	padding-bottom: 6px;
}
/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
	.main_login_modal .modal-header {
		padding: 15px 10px 15px 25px;
	}
	.main_login_modal .modal-body {
		padding: 0px 25px 20px 25px;
	}
	.main_login_modal .use_ajs .short { display: inline; }
	.main_login_modal .use_ajs .long { display: none; }
}