body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.mainMenu{
  background: #00A3ED;
  /*background: #1981C5;*/
}
.mainMenu nav {
  background:#00A3ED !important;
}
.mainMenu .post-course-btn {
  background: #00A3ED;
  border: 1px solid #fff;
  border-radius: 8px;
  width: 190px;
  margin-left: 25px;
}
nav a {
  color: #fff !important;
}
.jumbotron {
  border-radius: 0 !important;
  background: #00A3ED !important;
  color: #fff !important;
}
.jumbotron h1{
  font-size: 75px;
  margin-top: 25px;
}
.blue-bg{
  background: #00A3ED !important;
}
.lightblue-bg{
  background: #E0F0FB;
}
.card,.card-img-top{
  border-radius: 0 !important;
}
.sponsoredContainer{
  background: #E0F0FB;
  padding: 25px 95px; 
}
.sponsoredContainer .card-title{
  color:#365B81;
  font-weight: bold;
  padding-bottom: 10px;
}
.sponsoredContainer .card-subtitle {
  padding-bottom: 10px;
  line-height: 25px;
}
.sponsoredContainer h5.course-level {
  font-size: 17px;
}
.sponsoredContainer h6.course-price .fa-pound-sign{
  width:10px;
}
.sponsoredContainer h6.course-price {
  color:#2B6FC3;
  font-weight: bold;
}
.courseCatalog{
  padding: 50px 95px;
}
.courseCatalog h3{
  color:#2E547D;
  padding-bottom:50px;
}
.courseCatalog .card{
  height: 300px;
  border-radius: .25rem !important;
}
/* .courseCatalog .card-img{
  height: 100%;
} */
.courseCatalog h5{
  margin-top: 220px;
  font-weight: bold;
}
.courseCatalog [class*="col-"] {
  margin-bottom: 25px;
}
.jumbotron .search-container{
  padding: 20px 130px;
}
.jumbotron .search-container .search-btn{
  color:#fff;
  background: #FD4E44;
  width:100%;
  font-weight: bold;
}
.jumbotron .search-container .input-group,.jumbotron .search-container .search-btn{
  border: 10px solid #67B2EF;
  border-radius: 10px;
}
.footer {
  padding: 50px 95px;
  color: #fff;
}
/* Tabs */
.courseCatalog .nav-tabs {
  border: 1px solid #2B6FC3;
  border-radius: 6px;
  max-width: 250px;
  margin: 0 auto 40px auto;
}
.courseCatalog .nav-tabs .nav-item{
  margin-bottom: 0px;
}
.courseCatalog .nav-tabs .nav-item .nav-link {
  color: #8EB6E1;
}
.courseCatalog .nav-tabs .nav-link.active{
  color: #fff;
  background: #2B6FC3;
  border: 1px solid #2B6FC3;
}
.courseCatalog .nav-tabs .leftTab .nav-link.active{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.courseCatalog .nav-tabs .rightTab .nav-link.active{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}