/*
	// Small devices (landscape phones, 576px and up)
	@media (min-width: 576px) { ... }

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) { ... }

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) { ... }

	// Extra large devices (large desktops, 1120px and up)
	@media (min-width: 1120px) { ... }


    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
*/
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  font-weight: 300;
  line-height: 82px;
  color: #023E66;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  color: #023E66;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  color: #187DC1;
}

h3.c2 {
  color: #023E66;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: #187DC1;
}

h4.c2 {
  color: #023E66;
}

input.special {
  background-color: #ffffff;
  background-clip: padding-box;
  border: 10px solid rgba(200, 225, 240, 0.5);
  border-radius: 15px;
  padding: 0 15px;
  height: 63px;
  font-size: 17px;
  line-height: 17px;
  color: #187DC1;
  font-weight: normal;
  display: block;
  margin: 0 0 20px 0;
  width: 100%;
}

input.special.keyword {
  background-image: url("../assets/icons/search-lightBlue.svg");
  background-repeat: no-repeat;
  background-position: 19px 12px;
  padding-left: 50px;
}

input.special.location {
  background-image: url("../assets/icons/location-lightBlue.svg");
  background-repeat: no-repeat;
  background-position: 19px 12px;
  padding-left: 50px;
}

a.btn.special {
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  padding: 9px 15px 0;
  height: 63px;
  background-color: #F2624C;
  background-clip: padding-box;
  border: 10px solid rgba(200, 225, 240, 0.5);
  border-radius: 15px;
}

.header {
  background: linear-gradient(225deg, #1080D4 0%, #17B7F3 100%);
}

.header .toprow .logo {
  margin-top: 10px;
}

.header .toprow .post_course {
  margin-top: 30px;
}

.header .toprow .navbar {
  padding: 0;
}

.header .toprow .navbar .navbar-toggler {
  padding: 20px 0 0 0;
}

.header .toprow .navbar .navbar-toggler-icon {
  background-image: url("../assets/icons/mobile-menu-white.svg");
}

.header .toprow .navigation {
  margin: 38px 0 0 0;
  padding: 0;
  list-style: none;
}

.header .toprow .navigation > li {
  margin-right: 20px;
}

.header .toprow .navigation > li:last-child {
  margin-right: 0;
}

.header .hero {
  margin-top: 74px;
}

.header .hero h1 {
  margin-top: 13px;
  max-width: 485px;
}

.header .hero .search {
  padding-bottom: 61px;
}

/*Extra large devices (large desktops, 1120px and up)*/
/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
  .header .toprow .logo {
    width: 280px;
  }

  .header .hero h1 {
    font-size: 50px;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  .header .toprow .logo {
    width: 125px;
  }

  .header .hero h1 {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 40px;
  }
}
/*Small devices (landscape phones, 576px and up)*/
/* Main menu for mobile is in a customized modal */
.main_nav_modal .modal-dialog {
  height: 100%;
  margin: 0;
  background: linear-gradient(225deg, #1080D4 0%, #17B7F3 100%);
}

.main_nav_modal .modal-header {
  padding: 10px;
  border: none;
}

.main_nav_modal .modal-content {
  background-color: transparent;
  border: none;
}

.main_nav_modal .logo {
  width: 125px;
}

.main_nav_modal .close {
  opacity: 1;
  margin: 10px 0 0 0;
  padding: 0;
}

.main_nav_modal .modal-body {
  padding: 0;
}

.main_nav_modal .mob_nav {
  list-style: none;
  margin: 40px 0 0 0;
  padding: 0;
}

.main_nav_modal .mob_nav li {
  display: block;
  border-bottom: 1px solid #FFFFFF;
}

.main_nav_modal .mob_nav li:first-child {
  border-top: 1px solid #FFFFFF;
}

.main_nav_modal .mob_nav li a {
  display: block;
  min-height: 69px;
  padding: 22px 0 0 15px;
  color: #FFFFFF;
}

.sponsored {
  background-color: #E2F1FA;
  padding-top: 40px;
}

.sponsored a.item {
  display: block;
  height: 308px;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  background-color: #FFFFFF;
  position: relative;
}

.sponsored a.item:hover {
  text-decoration: none;
  /*box-shadow: -4px -4px 10px 0 rgba(0,0,0,0.2), 4px 4px 10px 0 rgba(0,0,0,0.2);*/
}

.sponsored a.item:hover .title {
  color: #F2624C;
}

.sponsored a.item .star {
  position: absolute;
  top: 12px;
  right: 12px;
}

.sponsored a.item .title {
  color: #023E66;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 15px 0 15px;
}

.sponsored a.item .location {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  line-height: 20px;
  background: transparent url("../assets/icons/location-CT1.svg") 15px 12px no-repeat;
  background-size: 15px 15px;
  padding: 10px 15px 0px 35px;
}

.sponsored a.item .type {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  line-height: 24px;
  padding: 0px 15px 0 15px;
}

.sponsored a.item .price {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #187DC1;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.sponsored .carousel-control-prev, .sponsored .carousel-control-next {
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  opacity: 1;
}

.sponsored .carousel-control-prev-icon, .sponsored .carousel-control-next-icon {
  width: 40px;
  height: 40px;
}

.sponsored .carousel-control-next-icon {
  background-image: url("../assets/icons/carousell-arrow.svg");
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sponsored .carousel-control-prev-icon {
  background-image: url("../assets/icons/carousell-arrow.svg");
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.sponsored .footnote {
  color: #4A4B4B;
  font-size: 14px;
  line-height: 24px;
  padding-top: 6px;
  padding-bottom: 30px;
}

.sponsored.mobile .carousel {
  max-width: 255px;
  margin-right: auto;
  margin-left: auto;
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  .sponsored .footnote {
    max-width: 273px;
    margin-right: auto;
    margin-left: auto;
  }
}
.browse_catalog h2 {
  margin-top: 70px;
}

.browse_catalog .catalog_switch {
  padding-top: 20px;
}

.browse_catalog .catalog_switch .btn {
  color: #187DC1;
  border-color: #187DC1;
  background-color: #FFFFFF;
  padding: 7px 18px;
}

.browse_catalog .catalog_switch .btn.active {
  background-color: #187DC1;
  color: #FFFFFF;
}

.browse_catalog .list_by_category, .browse_catalog .list_by_company {
  margin-top: 40px;
  margin-bottom: 60px;
}

.browse_catalog .list_by_category a.item, .browse_catalog .list_by_company a.item {
  position: relative;
  display: block;
  margin: 10px 0;
}

.browse_catalog .list_by_company a.item {
  border: 1px solid #E3E3E3;
  border-radius: 4px;
}

.browse_catalog .list_by_category a.item:hover, .browse_catalog .list_by_company a.item:hover {
  text-decoration: none;
  box-shadow: -4px -4px 10px 0 rgba(0, 0, 0, 0.2), 4px 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.browse_catalog .list_by_category .item img.cover, .browse_catalog .list_by_company .item img {
  border-radius: 4px;
}

.browse_catalog .list_by_category .item .name {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  .browse_catalog .list_by_category .item .name {
    font-size: 16px;
    line-height: 19px;
  }
}
/* LOGIN */
.main_login_modal .modal-content {
  border-radius: 8px;
}

.main_login_modal .modal-header {
  border-bottom: none;
  padding: 30px 20px 30px 45px;
}

.main_login_modal .modal-title {
  color: #012943;
  font-size: 24px;
  font-weight: bold;
}

.main_login_modal .close {
  opacity: 1;
}

.main_login_modal .modal-body {
  padding: 0px 45px 40px 45px;
}

.main_login_modal .use_ajs {
  background-color: #187DC1;
  margin-bottom: 20px;
  font-weight: bold;
}

.main_login_modal .use_ajs .short {
  display: none;
}

.main_login_modal .fakeinput_password {
  position: relative;
}

.main_login_modal .fakeinput_password .show {
  display: block;
  position: absolute;
  top: 7px;
  right: 10px;
}

.main_login_modal .fakeinput_password .show .vizon {
  display: none;
}

.main_login_modal .login_email {
  margin-bottom: 20px;
  background: #E2F1FA url("../assets/icons/user-CT1.svg") no-repeat 10px 10px;
  border: 1px solid #E2F1FA;
  padding-left: 40px;
}

.main_login_modal .login_pswd {
  margin-bottom: 12px;
  background: #E2F1FA url("../assets/icons/llock-CT1.svg") no-repeat 10px 10px;
  border: 1px solid #E2F1FA;
  padding-left: 40px;
}

.main_login_modal .login_email:focus, .main_login_modal .login_pswd:focus {
  border: 1px solid #187DC1;
  box-shadow: none;
}

.main_login_modal .login {
  background-color: #F2624C;
  margin-bottom: 20px;
  font-weight: bold;
}

.main_login_modal .register {
  border: 1px solid #187DC1;
  color: #187DC1;
}

.main_login_modal .forgot {
  color: #187DC1;
  font-size: 14px;
  margin-bottom: 12px;
  display: inline-block;
}

.main_login_modal .notmember {
  color: #187DC1;
  font-weight: bold;
  padding-bottom: 6px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .main_login_modal .modal-header {
    padding: 15px 10px 15px 25px;
  }

  .main_login_modal .modal-body {
    padding: 0px 25px 20px 25px;
  }

  .main_login_modal .use_ajs .short {
    display: inline;
  }

  .main_login_modal .use_ajs .long {
    display: none;
  }
}
.footer {
  background-color: #187DC1;
}

.footer .logo {
  margin-top: 30px;
  margin-bottom: 50px;
}

.footer .social {
  padding-top: 34px;
}

.footer .social .links {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

@media (max-width: 768px) {
  .footer .social {
    padding-top: 0;
  }

  .footer .social .links {
    margin: 0 0 80px 0;
  }
}

/*# sourceMappingURL=app.css.map */
